.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  background-color: #4956a1;
  position: fixed;
  top: 0px;
  padding: 1.5em;
}

.title {
  color: #FFFFFF;
  font-family:'Bungee', sans-serif;
  font-size: 44px;
} 

.right-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Source-sans-pro", sans-serif;
  font-weight: 300;
  color: #FFFFFF;
}

.arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: red;
}