.tweet-text {
  font-size: smaller;
}

.new-tweet textarea{
  display: inline-block;
  background-color: transparent;
  font-size: small;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid;
  width: 100%;
}

.submit-tweet-count {
  display: flex;
  justify-content: space-between;
}

.tweet-button {
  display: flex;
  background-color: #4956a1;
  color: white;
  align-items: center;
  font-family: "bungee", sans-serif;
}


.counter {
  display: flex;
  align-self: right;
  font-family: "bungee";
}