.new-tweet {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
}

.tweet-text {
  font-size: smaller;
}

.new-tweet textarea{
  display: inline-block;
  background-color: transparent;
  font-size: 25px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid;
  border-width: 3px;
  width: 100%;
}

.submit-tweet-count {
  display: flex;
  justify-content: space-between;
}

.tweet-button {
  display: flex;
  background-color: #4956a1;
  color: white;
  align-items: center;
  font-family: "bungee", sans-serif;
}


.counter {
  display: flex;
  align-self: right;
  font-family: "bungee";
}